.nav-bar {
  width: 100%;
  background-color: rgb(39, 38, 38);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo-name {
  color: #fff;
}

.sign-up {
  background-color: #fdfbfb;
  color: #c3a71d;
  height: 40px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
