.section-1 {
  width: 100%;
  height: 525px;
  background-image: url("src/assets/Images/background-2.jpg");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-btn {
  background-color: #fdfbfb;
  color: #121212;
  height: 40px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
  text-decoration: none;
}
.welcome-text {
  font-size: 54px;
  color: #fff;
  text-align: center;
}
.section-2 {
  width: 100%;
  padding: 50px 100px 100px;
}

.cards {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

@media (max-width: 600px) {
  .section-2 {
    padding: 50px 50px 100px;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .welcome-text {
    font-size: 40px;
  }
}

@media (min-width: 620px) and (max-width: 1050px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}


/* Modal.css */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: display 0.5s;
}

.modal.show {
  display: block; /* Show the modal */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;

  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }   
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 25rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .form-group input {
    width: 19.5rem;
  }
  
}


.error {
  color: red;
  margin-bottom: 15px;
}
