.main-section {
  width: 100%;
  padding: 80px 50px;
  background-color: #fff;
}
.contact-tutor {
  width: 500px;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-btn {
  background-color: #242323;
  width: 120px;
  color: #ffff;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}
.contact-btn:active {
  opacity: 0.6;
}
.wrapper-1 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.spacing {
  padding-left: 50px;
}
.class-appointments {
  margin-top: 50px;
}

.appointments {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.register-info {
  background-color: #eee;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.image {
  width: 500px;
}

@media (max-width: 600px) {
  .main-section {
    padding: 50px;
    width: 100%;
  }
  .wrapper-1 {
    grid-template-columns: 1fr;
    margin: 50px 0;
  }
  .wrapper-1 .image {
    width: 100%;
  }
  .contact-tutor {
    width: 100%;
    font-size: 15px;
  }
  .spacing {
    text-align: left;
    margin-bottom: 50px;
    grid-row: 1;
    grid-column: 1;
    padding: 0;
  }
  .appointments {
    grid-template-columns: 1fr;
  }
  .register-info {
    width: 100%;
    font-size: 12px;
  }
  .register-info span{
    display: block;
  }
  .contact-btn {
    font-size: 12px;
  }
}
